@keyframes blur {
    from {
      filter: blur(10px);
      opacity: 0;
    }
    to {
      filter: blur(0px);
      opacity: 1;
    }
  }
  
  @keyframes flip {
    from {
      transform: rotateY(90deg);
      opacity: 0;
    }
    to {
      transform: rotateY(0deg);
      opacity: 1;
    }
  }
  
  .text-container span {
    display: inline-block;
    opacity: 0;
  }
  .text-container span.animate {
    opacity: 1;
  }
  